<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Helsingin ravintoloista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>Ravintolat Helsingissä</h1>
	<table>
		<tr>
			<th>Nimi</th>
			<th>Osoite</th>
			<th>Puhelinnumero</th>
			<th>Keittiö</th>
		</tr>
			<tr th:each = "restaurant : ${restaurants}">
				<td th:text = "${restaurant.name}"></td>
				<td th:text = "${restaurant.address}"></td>
				<td th:text = "${restaurant.phone}"></td>
				<td th:text = "${restaurant.cuisine.name}"></td>
				<td><a th:href="@{/edit/{id}(id=${restaurant.id})}">Muokkaa</a></td>
				<td><a th:href="@{/delete/{id}(id=${restaurant.id})}">Poista</a></td>
			</tr>
	</table>
	<a href="/add">Lisää uusi ravintola</a>
</body>
</html>